.skillPills div div div div {
  background-color: rgba(255, 255, 255, 1.00);
  transition: all .25s ease;
}

.skillPills div div div div.selectedSkill {
  background-color: rgba(19, 113, 219, 1.00);

  span {
    color: rgba(255, 255, 255, 1.00);
  }
}
