.pill {
  position: relative;

  // Prevent highlighting of text on click/doubleclick
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  margin-right: 8px;
  margin-bottom: 8px;

  .display-label {
    color: inherit;
  }


  // onclick bump word to left to make room for X
  // click again to actually remove it

  &.clickable {
    cursor: pointer;
  }

  &.editable {
    cursor: pointer;
    padding-right: 1.5rem;

    &:hover {
      .remove-label {
        color: hsl(var(--foreground));
      }
    }
  }

  &.removing {
    .display-label {
      color: #FFF;
    }

    border: 1px solid $color-amaranth;
    background-color: $color-amaranth;
    color: #FFF;

    .remove-label {
      color: hsl(var(--destructive));
      background-color: $color-amaranth !important;
    }
  }
}

.dark-text {
  color: $color-member;
}

.gray-text {
  color: $color-slate-gray-80
}

.remove-label {
  font-size: 16px;
  font-weight: bold;
  content: '\2715';
  cursor: pointer;
  color: transparent;
  position: absolute;
  right: 5px;
  padding: 4px;
  border-radius: 4px;
  vertical-align: top;
}
