@import './fonts';
@import './icons';
@import '../typography';
@import '../datepicker';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  .dark {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-text-fill-color: hsl(40 100% 99%) !important;
      -webkit-box-shadow: 0 0 0 1000px var(--input) inset !important;
      box-shadow: 0 0 0 1000px var(--input) inset !important;
      color: var(--foreground) !important;
      text-fill-color: var(--foreground) !important;
      transition: background-color 5000s ease-in-out 0s !important;
    }

  }
  * {
    font-family: 'Onest', 'Circular Book', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: hsl(240 10% 3.9% / 0.2) transparent;

    /* Chrome, Edge, Safari */
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }
  .dark * {
    /* Firefox */
    scrollbar-color: hsl(40 100% 99% / 0.2) transparent;

    /* Chrome, Edge, Safari */
    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.3);
      border: 1px solid rgba(255, 255, 255, 0.1);

      &:hover {
        background: rgba(255, 255, 255, 0.4);
      }
    }
  }

  .arrow-start::after, .arrow::before, .arrow::after, .arrow-end::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    border-style: solid;
    width: 0;
    height: 0;
    transform: scale(0.6, 1.0);
  }
  .arrow-start::after, .arrow::after {
    left: 98%;
    border-width: 9px 0 9px 9px;
  }
  .arrow::before, .arrow-end::before {
    right: 98%;
    border-width: 9px 9px 9px 0;
  }

  .discussion::after, .discussion::before {
    border-color: rgba(0, 0, 0, 0) $color-discussions-50;
  }
  .event::after, .event::before {
    border-color: rgba(0, 0, 0, 0) $color-events-50;
  }
  .offer::after, .offer::before {
    border-color: rgba(0, 0, 0, 0) $color-offers-50;
  }
  .resource::after, .resource::before {
    border-color: rgba(0, 0, 0, 0) $color-resources-50;
  }
  .project::after, .project::before {
    border-color: rgba(0, 0, 0, 0) $color-projects-50;
  }
  .request::after, .request::before {
    border-color: rgba(0, 0, 0, 0) $color-requests-50;
  }
  .proposal::after, .proposal::before {
    border-color: rgba(0, 0, 0, 0) $color-proposals-50;
  }

  body:not(.hyloEditorMobileBody) {
    @apply bg-background text-foreground;
    overflow-x: hidden;
  }

  #__filestack-picker {
    /* To work around issue with Radix dialog setting pointer-events: none */
    pointer-events: auto;
  }

  .global-postContent {
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 15px;
    }

    h1 {
      font-size: 1.3rem;
      font-weight: 700;
    }

    h2 {
      font-size: 1.15rem;
      font-weight: 700;
    }

    h3, h4, h5, h6 {
      font-size: 1rem;
      font-weight: 700;
    }

    a {
      cursor: pointer;
    }

    ul, ol {
      margin-top: 0px;
      margin-bottom: 10px;
      padding-left: 2em;

      p {
        margin-top: 0px;
        margin-bottom: 5px;
      }
    }

    ul {
      list-style-type: disc;
    }

    ol {
      list-style-type: decimal;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--foreground) !important;
  -webkit-box-shadow: 0 0 0 1000px var(--input) inset !important;
  box-shadow: 0 0 0 1000px var(--input) inset !important;
  color: var(--foreground) !important;
  text-fill-color: var(--foreground) !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

/* Hide spinner for number inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield; /* Standard property for other browsers */
}

@media (max-width: 430px) {
  html {
    font-size: 15px;
  }

  .text-base {
    font-size: 15px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 14px; // or 12px for even smaller
  }

  .text-base {
    font-size: 14px;
  }
}
