.stream-items {
  margin: 5px auto;
  overflow: visible;
  width: 100%;
}

.stream-moderation-items {
  margin: 5px auto;
  overflow: visible;
}
.stream-grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  justify-items: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
}

.big-grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  justify-items: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
}


.big-grid-item {
  border: 1px solid red;
}

.expanded {
  margin: 0 $space-2x $space-6x;
  box-shadow: 0 4px 15px rgba(35, 65, 91, .3);
  border: 1px solid rgba(0, 118, 223, .50);
  border-top: 3px solid rgba(0, 118, 223, .50);

  &:hover {
    box-shadow: 0 4px 15px rgba(35, 65, 91, .3);;
  }
}

@media screen and (max-width: 425px) {
  .card-item {
    margin: 0 5px 10px 5px;
  }

  .stream-grid {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
}

.calendarLinksContainer {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  pointer-events: none;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0s linear 0.3s;

  &.open {
    max-height: 1000px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0s;
  }
}
