.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 200000;
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(var(--foreground) / 0.3);
}

.popup-inner {
  position: relative;
  width: 500px;
  top: 5%;
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  margin: auto;
  text-align: center;
  overflow: auto;
  height: 87%;
  border-radius: 10px;
  z-index: 200001;

  h1 {
    font-size: 24px;
    color: hsl(var(--foreground));
    margin: 0;
    padding: 16px 0;
    font-weight: normal;
    font-family: "Circular Medium";
  }

  h3 {
    color: hsl(var(--foreground));
    margin: 0;
    padding: 12px 6px 0 0;
    font-weight: normal;
    font-family: "Circular Medium";
  }

  h5 {
    color: hsl(var(--foreground));
    margin: 0;
    padding: 8px 4px 0 0;
    font-weight: normal;
    font-family: "Circular Medium";
  }

  .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    padding: 10px;

    .icon {
      font-size: 26px;
    }
  }

  .content {
    display: flex;
    flex-flow: column;
    padding: 0 31px 31px 31px;
    overflow-y: auto;
  }

  .agreements-link {
    color: hsl(var(--foreground));
    font-size: 14px;
    text-decoration: underline;
    margin-top: 10px;
  }

  .reason {
    flex: 1;
  }

  .explanation-textbox {
    flex: 1;
    border: 1px solid hsl(var(--foreground) / 0.2);
    margin-top: 20px;
    padding: 14px;
    border-radius: 2px;
    color: hsl(var(--background));
    font-size: 14px;

    &:focus {
      outline: 0;
    }
  }

  .submission {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .anon-label {
    color: hsl(var(--foreground));
    font-size: 13px;
    margin-right: 10px;
  }

  .explainer {
    color: hsl(var(--foreground) / 0.6);
    font-size: 14px;
    transition: all .25s ease;
    margin-bottom: 5px;
    display: inline-block;
  }

  .reason-required {
    color: hsl(var(--error));
  }

}
