{% snippet 'header_redesign' %}
<h5 >{% trans %}Download the attached CSV for your member list export{% endtrans %}</h5>
<p>{% trans %}If you didn't request this email, please reply to let us know.{% endtrans %}</p>
<p >
  
{% snippet 'footer_redesign' %}