.checkbox {
  visibility: hidden;
  width: 0;
}

.label {
  margin-bottom: 0;
  cursor: pointer;
}

.label-left {
  padding-left: 8px;
}

.icon {
  color: hsl(var(--selected));
  vertical-align: middle;
  padding-right: 8px;

  &:hover {
    color: hsl(var(--selected) / 0.8);
  }
}
