.container {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;

  &.noUser {
    width: 100%;
  }
}

.loading {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  display: inline;
  width: 40px;
  height: 40px;

  div {
    display: inline;
  }
}

/* These are still in module because tailwind not supporting complex min with calc yet */
.toggleDrawerButton {
  right: 20px;

  &.drawerOpen {
    right: min(340px, max(270px, calc(40% - 60px)));
  }
}

.drawerAdjacentButton {
  right: 20px;

  &.drawerOpen {
    right: min(420px, max(350px, calc(40% + 20px)));
  }
}

.postTip {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  border-radius: 4px;
  background-color: white;
  padding: 0 15px;
  color: rgba(87, 102, 123, 1.000);
  box-shadow: $box-shadow-default;
  line-height: 28px;

  p {
    margin: 0;
    padding: 0;
  }
}

.postTip.chat {
  color: $color-chats;
}

.postTip.discussion {
  color: $color-discussions;
}

.postTip.proposal {
  color: $color-proposals;
}

.postTip.event {
  color: $color-events;
}

.postTip.offer {
  color: $color-offers;
}

.postTip.resource {
  color: $color-resources;
}

.postTip.project {
  color: $color-projects;
}

.postTip.cluster {
  color: $color-black;
}

.featureTypeSwitch {
  margin: 10px;
  > span {
    margin-left: 10px;
  }
}

.helpTipTwo {
  z-index: 2000 !important;
}

@media screen and (max-width: 600px) {
  .toggleDrawerButton.drawerOpen {
    left: 10px;
    right: auto;
  }

  button.toggleFeatureFiltersButton {
    bottom: 66px;
    &.withoutNav {
      bottom: 66px - 50px; // height of top nav
    }
    &.noUser.withoutNav {
      bottom: 66px; // height of top nav
    }
  }
}

@media screen and (max-width: 375px) {
  .toggleDrawerButton.drawerOpen {
    z-index: 80;
    top: 19px;
  }
}
