.images {
  position: relative;

  img {
    cursor: pointer;
  }
}

.others {
  position: absolute;
  width: 100%;
  bottom: 15px;
  right: 0;
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
  padding-left: $space-2x;
  cursor: pointer;
}

.others-inner {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.other {
  display: block;
  border: 2px solid #fff;
  width: auto;
  height: 80px;
  border-radius: 3px;
  margin-right: 20px;
  background-size: cover;
  box-shadow: 0px 4px 10px rgba(42, 64, 89, 0.6);

  &:hover {
    filter: brightness(110%);
  }
}

.chatPost.images {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  height: 90px;
  margin-left: 20px;
}

.chatPost {
  .imagesInner {
    display: flex;
    flex-direction: row;
    //margin-left: auto;
  }

  .image {
    display: block;
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 20px;
    background-size: cover;
    border: 1px solid $color-cape-cod-10;
    box-shadow: 0px 4px 10px rgba(42, 64, 89, 0.3);

    &:hover {
      filter: brightness(110%);
    }
  }
}

.flagged {
  overflow: hidden;

  img {
    filter: blur(30px);
  }
}
