{% snippet 'header_redesign' %}
{% snippet 'macro: post_card' %}

{% set invited_you_text = 'invited you' %}
{{ post_card(post, false, invited_you_text) }}
 
<p class="center">
  {% trans %}Reply to this email to comment on the event, or{% endtrans %}
</p>
  
{% set post_url = post.url %}
<a href='{{post_url}}' class='btn btn-blue'>{% trans %}Reply in the Group{% endtrans %}</a>

{% snippet 'footer_redesign' %}