@tailwind base;
@tailwind components;
@tailwind utilities;

/* from apps/web/src/css/global/index.scss as of git commit 29585486b874a079feb0b796afe3432afaf33468 */

@layer base {

  :root {
    --black: 34 9% 15%;
    --background: 42 20% 88%;
    --midground: 45 28% 94%;
    --foreground: 240 10% 3.9%;
    --selected: 145 50% 62%;
    --card: 40 100% 99%;
    --card-foreground: 34 9% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 3% 82%;
    --primary-foreground: 0 0% 0%;
    --secondary: 196 100% 50%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 21 79% 63%;
    --accent-foreground: 0 0 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --error: 0 84.2% 60.2%;
    --error-foreground: 0 0% 98%;
    --focus: 203 70% 56%;
    --border: 240 5.9% 90%;
    --input: 42 5.9% 100%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --theme-background: 45 6% 47%;
    --theme-foreground: 40 23% 97%;
  }

  .dark {
    --black: 0 0% 0%;
    --background: 33 8% 28%;
    --midground: 27 5% 34%;
    --foreground: 40 100% 99%;
    --card: 33 9% 23%;
    --card-foreground: 40 100% 99%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 24 7% 14%;
    --primary-foreground: 40 100% 99%;
    --secondary: 169 44% 48%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 21 79% 63%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --error: 0 84.2% 60.2%;
    --error-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --theme-background: 33 9% 23%;
  }

  #__filestack-picker {
    /* To work around issue with Radix dialog setting pointer-events: none */
    pointer-events: auto;
  }
}