.keyListContainer {
  border: 1px solid #D1D1D1;
  position: relative;
  color: var(--foreground);
  z-index: 5;

  a {
    color: var(--foreground);
  }
}

.keyListLabel {
  font-size: 10px;
  text-transform: uppercase;
}

.keyListPublic {
  align-items: center;
  display: flex;
  font-size: 14px;
  height: 40px;
  padding: 6px 8px 6px 30px;
  background: url('/globe-icon.svg') 8px center no-repeat;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    background-color: #eee;
  }
}

.keyList{
  max-height: 132px;
  position: relative;
  overflow-y: scroll;
}

.keyListMemberIcon {
  color: hsl(var(--foreground));
  font-size: 18px;
  top: 2px;
}
