.multi-select {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item {
  border: 1px solid #ccc;
  margin: 5px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include font-regular;
  font-size: 14px;
}

.item.selected {
  background-color: hsl(var(--selected) / 0.5);
}

.show-more {
  cursor: pointer;
  text-align: center;
  color: hsl(var(--foreground));
  border-top: 2px dashed hsl(var(--foreground) / 0.2);
}

.item {
  &.border-bottom {
    border-bottom: 1px dashed hsl(var(--foreground) / 0.2);
    margin-bottom: 15px;
  }
}
