.container {
  box-shadow: 4px 0 2px -2px rgba(0, 0, 0, 0.1);
  z-index: 40;
}

.navigation {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.links {
  list-style: none;
  border-bottom: 2px solid $color-ghost-30;
  padding: 0 0 20px 0;
  margin: 0;
}

.topicItem, .item {
  display: none;
}

@media screen and (max-width: 600px) {
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .navigation {
    position: relative;
    z-index: 100;
  }
  .closeBg {
    opacity: 0;
    position: fixed;
    right: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: all .25s ease;
  }

  .showGroupMenu {

    .closeBg {
      background-color: rgba(49, 73, 101, 0);
      height: 100%;
      top: 0;
      width: calc(100% - 280px);
      opacity: .5;
    }
  }
}
