.tagPill {
  margin-bottom: 4px;
}

.selected {
  background-color: rgba(0, 118, 223, 1.0) !important;
  color: rgba(255, 255, 255, 1) !important;
}

.pill-tooltip {
  white-space: pre-line  !important;
  z-index: 1000 !important;
}
